* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

tr, td, th {
    border: 1px solid black;
    padding: 5px;
}

.user__info {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

button {
    margin: 2px;
}