* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
}

h2 {
    margin: 10px 0;
}

input {
    margin: 5px 0;
    width: 200px;
    height: 25px;
}

button {
    border: 1px solid rgb(185, 185, 185);
    min-width: 50px;
    height: 25px;
    margin: 5px 0;
}

.link {
    text-decoration: none;
}

.error {
    background-color: rgba(238, 78, 78, 0.94);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 5px;
}

.success {
    background-color: rgba(102, 226, 98, 0.94);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
}

tr, td, th {
    border: 1px solid black;
    padding: 5px;
}

head {
    display: flex;
}

.user__info {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 5px;
}

.back__btn {
    margin-top: 10px;
}