* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin-top: 20px;
}

input {
    margin-bottom: 10px;
}

.back {
    margin-top: 10px;
}

button {
    border: 1px solid rgb(185, 185, 185);
    padding: 3px;
}

h2 {
    margin-top: 20px;
}

.error {
    background-color: rgba(238, 78, 78, 0.94);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
}